<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#"><i class="fa-solid fa-face-smile"></i></a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="./cartoons" routerLinkActive="active">Modulo 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./characters" routerLinkActive="active">Modulo 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./info" routerLinkActive="active">Modulo 3</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

</header>
<main>
  <router-outlet></router-outlet>

  <app-datos [ngClass]="{'fade-in-bck': tab == 3}" *ngIf="tab==3"></app-datos>
</main>
<footer>
  <!-- place footer here -->
</footer>
